@model control_notas_cit.Models.Entidades.Celula
@using control_notas_cit.Helpers
<div class="box-header">
    <h2>@Html.TruncateText(@Model.Nombre, 50)</h2>

</div>

<div class="box-content">
    Coordinadores <br />
    @Model.Descripcion <br />

    <div class="clearfix">
        @Html.ActionLink("Editar", "EditarCelula", "Profesor", new { id = @Model.CelulaID }, new { @class = "btn btn-primary pull-right" })
    </div>
</div>